In [12]:
from pyspark.sql import SparkSession, Row, Window
from pyspark.sql.functions import *
from pyspark import SparkConf
from pyspark.sql.types import IntegerType


sparkConf = SparkConf()
sparkConf.setMaster("spark://spark-master:7077")
sparkConf.setAppName("GCSExample")
sparkConf.set("spark.driver.memory", "2g")
sparkConf.set("spark.executor.cores", "1")
sparkConf.set("spark.driver.cores", "1")
# create the spark session, which is the entry point to Spark SQL engine.
spark = SparkSession.builder.config(conf=sparkConf).getOrCreate()

# Setup hadoop fs configuration for schema gs://
conf = spark.sparkContext._jsc.hadoopConfiguration()
conf.set("fs.gs.impl", "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFileSystem")
conf.set(
    "fs.AbstractFileSystem.gs.impl", "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFS"
)

# Use the Cloud Storage bucket for temporary BigQuery export data the connector uses.
bucket = "temp_de2023_20204025"
spark.conf.set("temporaryGcsBucket", bucket)

#  Google Storage File Path
gsc_file_path = "gs://data_de2023_20204025"  #  use your gcp bucket name.
# Create data frame
movie_df = (
    spark.read.format("csv")
    .option("header", "true")
    .load(gsc_file_path + "/rotten_tomatoes_movies.csv")
)
movie_df.printSchema()

movie_df.show()

root
 |-- id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- audienceScore: string (nullable = true)
 |-- tomatoMeter: string (nullable = true)
 |-- rating: string (nullable = true)
 |-- ratingContents: string (nullable = true)
 |-- releaseDateTheaters: string (nullable = true)
 |-- releaseDateStreaming: string (nullable = true)
 |-- runtimeMinutes: string (nullable = true)
 |-- genre: string (nullable = true)
 |-- originalLanguage: string (nullable = true)
 |-- director: string (nullable = true)
 |-- writer: string (nullable = true)
 |-- boxOffice: string (nullable = true)
 |-- distributor: string (nullable = true)
 |-- soundMix: string (nullable = true)

+--------------------+--------------------+-------------+-----------+------+--------------------+-------------------+--------------------+--------------+--------------------+----------------+--------------------+--------------------+---------+-----------------+--------+
|                  id|               title|audienceScore|tomatoMeter|rating|      ratingContents|releaseDateTheaters|releaseDateStreaming|runtimeMinutes|               genre|originalLanguage|            director|              writer|boxOffice|      distributor|soundMix|
+--------------------+--------------------+-------------+-----------+------+--------------------+-------------------+--------------------+--------------+--------------------+----------------+--------------------+--------------------+---------+-----------------+--------+
|  space-zombie-bingo| Space Zombie Bingo!|           50|       NULL|  NULL|                NULL|               NULL|          2018-08-25|            75|Comedy, Horror, S...|         English|       George Ormrod|George Ormrod,Joh...|     NULL|             NULL|    NULL|
|     the_green_grass|     The Green Grass|         NULL|       NULL|  NULL|                NULL|               NULL|          2020-02-11|           114|               Drama|         English|     Tiffany Edwards|     Tiffany Edwards|     NULL|             NULL|    NULL|
|           love_lies|          Love, Lies|           43|       NULL|  NULL|                NULL|               NULL|                NULL|           120|               Drama|          Korean|Park Heung-Sik,He...|Ha Young-Joon,Jeo...|     NULL|             NULL|    NULL|
|the_sore_losers_1997|         Sore Losers|           60|       NULL|  NULL|                NULL|               NULL|          2020-10-23|            90|Action, Mystery &...|         English|John Michael McCa...|John Michael McCa...|     NULL|             NULL|    NULL|
|dinosaur_island_2002|     Dinosaur Island|           70|       NULL|  NULL|                NULL|               NULL|          2017-03-27|            80|Fantasy, Adventur...|         English|       Will Meugniot|            John Loy|     NULL|             NULL|    NULL|
|         adrift_2018|              Adrift|           65|         69| PG-13|['Injury Images',...|         2018-06-01|          2018-08-21|           120|Adventure, Drama,...|         English|   Baltasar Korm√°kur|Aaron Kandell,Jor...|   $31.4M|        STX Films|    NULL|
|malta-con-huevo-s...|      Scrambled Beer|           55|       NULL|  NULL|                NULL|               NULL|          2015-10-05|            88|              Comedy|         Spanish|Cristobal Valderrama|Cristobal Valderrama|     NULL|             NULL|    NULL|
|    kakabakaba-ka-ba|Kakabakaba ka ba?...|           88|       NULL|  NULL|                NULL|               NULL|                NULL|          NULL|                NULL|            NULL|        Mike de Leon|                NULL|     NULL|             NULL|    NULL|
|          sundowning|          Sundowning|         NULL|       NULL|  NULL|                NULL|               NULL|                NULL|           123|               Drama|         English|      Jim Comas Cole|                NULL|     NULL|             NULL|    NULL|
|1035316-born_to_kill|        Born to Kill|           74|         83|  NULL|                NULL|         1947-04-30|          2016-05-23|            92|        Crime, Drama|         English|         Robert Wise|Eve Greene,Richar...|     NULL|             NULL|    NULL|
|1015331-number_on...|Number One With a...|           19|       NULL|  NULL|                NULL|               NULL|          2012-03-13|           103|        Crime, Drama|         English|         Jack Smight|                NULL|     NULL|             NULL|    NULL|
|  garden_murder_case|The Garden Murder...|         NULL|       NULL|  NULL|                NULL|               NULL|          2016-10-20|            61|  Mystery & thriller|         English|      Edwin L. Marin|                NULL|     NULL|             NULL|    NULL|
|margarita_happy_hour|Margarita Happy Hour|         NULL|         76|  NULL|                NULL|         2002-03-22|                NULL|            98|               Drama|         English|        Ilya Chaiken|        Ilya Chaiken|   $11.5K|Passport Pictures|Surround|
|  leap_of_faith_2019|Leap of Faith: Wi...|           86|         93|  NULL|                NULL|               NULL|          2020-11-19|           104|Documentary, Myst...|         English|Alexandre O. Phil...|Alexandre O. Phil...|     NULL|             NULL|    NULL|
| shake-rattle-roll-3|Shake Rattle & Ro...|           89|       NULL|  NULL|                NULL|               NULL|          2019-01-04|           120|      Comedy, Horror|         Tagalog|Peque Gallaga,Lor...|                NULL|     NULL|             NULL|    NULL|
|           daag_1973|           The Stain|           82|       NULL|  NULL|                NULL|               NULL|          2003-11-25|           146|               Drama|           Hindi|         Yash Chopra|Yash Chopra,Gulsh...|     NULL|             NULL|    NULL|
|crown_vs_stevens_...|   Crown vs. Stevens|           60|       NULL|  NULL|                NULL|               NULL|                NULL|            66|Crime, Drama, Mys...|         English|      Michael Powell|      Brock Williams|     NULL|             NULL|    NULL|
|         1221483-paa|                 Paa|           67|         50|  NULL|                NULL|         2009-12-04|                NULL|           133|               Drama|           Hindi|            R. Balki|            R. Balki|  $199.2K|     Big Pictures|    NULL|
|f9ab9165-598c-3ac...|A Tale of Love an...|         NULL|       NULL|  NULL|                NULL|               NULL|                NULL|           103|               Drama| French (France)|        Leyla Bouzid|        Leyla Bouzid|     NULL|             NULL|    NULL|
|  the_last_gentleman|  The Last Gentleman|         NULL|       NULL|  NULL|                NULL|               NULL|                NULL|            80|              Comedy|         English|     Sidney Lanfield|                NULL|     NULL|             NULL|    NULL|
+--------------------+--------------------+-------------+-----------+------+--------------------+-------------------+--------------------+--------------+--------------------+----------------+--------------------+--------------------+---------+-----------------+--------+
only showing top 20 rows

In [13]:
# Handling missing values
movie_df = (
    movie_df.withColumn(
        "age_class", when(col("rating").isNotNull(), col("rating")).otherwise("G")
    )
    .withColumn(
        "ratingContents",
        when(col("ratingContents").isNotNull(), col("ratingContents")).otherwise(
            "None"
        ),
    )
    .withColumn(
        "distributor",
        when(col("distributor").isNotNull(), col("distributor")).otherwise(
            "independent"
        ),
    )
)

# Dropping columns
columns_to_drop = ["soundMix", "boxOffice", "rating"]
movie_df = movie_df.drop(*columns_to_drop)

# audienceScore to integer
movie_df = movie_df.withColumn(
    "audienceScore", movie_df["audienceScore"].cast(IntegerType())
)

# Dropping rows with missing values in specific columns
columns_to_check_for_null = [
    "audienceScore",
    "tomatoMeter",
    "releaseDateTheaters",
    "runtimeMinutes",
    "genre",
    "director",
    "originalLanguage",
]
movie_df = movie_df.dropna(subset=columns_to_check_for_null)

# Converting releaseDateTheaters to datetime
movie_df = movie_df.withColumn(
    "releaseDateTheaters", to_date(col("releaseDateTheaters"), "y-M-d")
)  # our dataframe with date column

# Extracting date components
movie_df = (
    movie_df.withColumn("releaseDay", day(col("releaseDateTheaters")))
    .withColumn("releaseMonth", month(col("releaseDateTheaters")))
    .withColumn("releaseYear", year(col("releaseDateTheaters")))
    .withColumn("releaseWeekday", weekday(col("releaseDateTheaters")))
)

# Show the resulting PySpark DataFrame
movie_df.show()

+--------------------+--------------------+-------------+-----------+--------------------+-------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------+----------+------------+-----------+--------------+
|                  id|               title|audienceScore|tomatoMeter|      ratingContents|releaseDateTheaters|releaseDateStreaming|runtimeMinutes|               genre|    originalLanguage|            director|              writer|         distributor|age_class|releaseDay|releaseMonth|releaseYear|releaseWeekday|
+--------------------+--------------------+-------------+-----------+--------------------+-------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------+----------+------------+-----------+--------------+
|         adrift_2018|              Adrift|           65|         69|['Injury Images',...|         2018-06-01|          2018-08-21|           120|Adventure, Drama,...|             English|   Baltasar Korm√°kur|Aaron Kandell,Jor...|           STX Films|    PG-13|         1|           6|       2018|             4|
|1035316-born_to_kill|        Born to Kill|           74|         83|                None|         1947-04-30|          2016-05-23|            92|        Crime, Drama|             English|         Robert Wise|Eve Greene,Richar...|         independent|        G|        30|           4|       1947|             2|
|         1221483-paa|                 Paa|           67|         50|                None|         2009-12-04|                NULL|           133|               Drama|               Hindi|            R. Balki|            R. Balki|        Big Pictures|        G|         4|          12|       2009|             4|
|sarah_palin_you_b...|Sarah Palin: You ...|           61|         32|                None|         2011-09-30|          2017-03-08|            90|         Documentary|             English|Nick Broomfield,J...|                NULL| Freestyle Releasing|        G|        30|           9|       2011|             4|
|a_state_of_mind_2005|     A State of Mind|           92|         89|                None|         2005-08-10|          2007-06-11|            93|         Documentary|              Korean|       Daniel Gordon|                NULL|       Kino Pictures|        G|        10|           8|       2005|             2|
|        gun_shy_2017|               Salty|           38|          0|['Some Sexual Con...|         2017-09-08|          2017-11-07|            86|      Comedy, Action|English (United K...|          Simon West|Toby Davies,Mark ...|         Saban Films|        R|         8|           9|       2017|             4|
|         johnny_cool|         Johnny Cool|           44|         50|                None|         1963-10-02|          2011-06-27|           103|        Crime, Drama|             English|       William Asher|                NULL|         independent|        G|         2|          10|       1963|             2|
|        race_the_sun|        Race the Sun|           41|         22|                None|         1996-03-22|          2002-04-30|            99|               Drama|             English| Charles T. Kanganis|                NULL|         independent|        G|        22|           3|       1996|             4|
| paul_blart_mall_cop|Paul Blart: Mall Cop|           43|         34|['Mild Crude Humo...|         2009-01-16|          2009-05-19|            91|              Comedy|             English|          Steve Carr|Kevin James,Nick ...|Sony Pictures Ent...|       PG|        16|           1|       2009|             4|
|not_without_my_da...|Not Without My Da...|           71|         53|                None|         1991-01-11|          2001-10-02|           110|               Drama|             English|       Brian Gilbert|Betty Mahmoody,Wi...|         independent|        G|        11|           1|       1991|             4|
|     monsoon_wedding|     Monsoon Wedding|           87|         95|['Some Sex Relate...|         2002-02-22|          2002-09-24|           100|       Comedy, Drama|             English|           Mira Nair|      Sabrina Dhawan|           USA Films|        R|        22|           2|       2002|             4|
|         violet_2017|              Violet|           56|         85|                None|         2017-05-12|          2018-11-17|            82|               Drama|               Dutch|           Bas Devos|           Bas Devos|Ryan Bruce Levey ...|        G|        12|           5|       2017|             4|
|small_town_wisconsin|Small Town Wisconsin|           88|         83|                None|         2022-06-03|          2022-06-10|           109|       Comedy, Drama|             English|       Niels Mueller|        Jason Naczek| Quiver Distribution|        G|         3|           6|       2022|             4|
|the_100_year_old_...|The 100-Year-Old ...|           69|         68|['Some Violence',...|         2015-05-01|          2015-08-18|           114|   Comedy, Adventure|             Swedish|      Felix Herngren|Felix Herngren,Ha...|     Music Box Films|        R|         1|           5|       2015|             4|
|  rookie_of_the_year|  Rookie of the Year|           52|         38|                None|         1993-07-07|          2002-01-29|           103|Kids & family, Co...|             English|        Daniel Stern|          Sam Harper|    20th Century Fox|        G|         7|           7|       1993|             2|
|       playback_2011|            Playback|           76|          0|['Some Teen Party...|         2012-03-09|          2012-05-08|            98|Horror, Mystery &...|             English|  Michael A. Nickles|  Michael A. Nickles|   Magnolia Pictures|        R|         9|           3|       2012|             4|
|the_man_who_kille...|The Man Who Kille...|           60|         66|                None|         2019-04-10|          2019-04-19|           133|   Comedy, Adventure|             English|       Terry Gilliam|Terry Gilliam,Ton...|  Screen Media Films|        G|        10|           4|       2019|             2|
|      endless_poetry|      Endless Poetry|           80|         93|                None|         2017-07-14|          2017-11-19|           128|           Biography|             Spanish|Alejandro Jodorowsky|Alejandro Jodorowsky|    ABKCO Films Inc.|        G|        14|           7|       2017|             4|
|   uzumasa_limelight|   Uzumasa Limelight|           88|         91|                None|         2014-12-05|          2016-08-10|           103|       Drama, Action|            Japanese|          Ken Ochiai|        Hiroyuki Ono|         Eleven Arts|        G|         5|          12|       2014|             4|
|        freeze-frame|        Freeze Frame|           60|         71|['Language', 'Str...|         2004-06-18|          2005-01-18|           100|  Mystery & thriller|             English|        John Simpson|        John Simpson|          First Look|        R|        18|           6|       2004|             4|
+--------------------+--------------------+-------------+-----------+--------------------+-------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------+----------+------------+-----------+--------------+
only showing top 20 rows

In [14]:
# Rank the resturants in terms of the avg price, per each city. Then, select the best and worst product using ranks
windowasc = Window.partitionBy(col("genre"), col("releaseYear")).orderBy(
    col("audienceScore").asc()
)

movie_df_window = movie_df.withColumn("rank", dense_rank().over(windowasc))

movie_df_window.select(
    col('id'), col("title"), col("audienceScore"), col("genre"), col("releaseYear"), col("rank")
).write.format("bigquery").option(
    "table", "de-23-lab-1-399021.assignment2dataset.movierank"
).mode(
    "overwrite"
).save()

movie_df_window.select(
    col("title"), col("audienceScore"), col("genre"), col("releaseYear"), col("rank")
).write.format("bigquery").option(
    "table", "de-23-lab-1-399021.assignment2dataset.movierank_without_id"
).mode(
    "overwrite"
).save()

movie_df_window.select(
    col("title"), col("audienceScore"), col("genre"), col("releaseYear"), col("rank")
).show(100)

+--------------------+-------------+------+-----------+----+
|               title|audienceScore| genre|releaseYear|rank|
+--------------------+-------------+------+-----------+----+
|The Charge of the...|           60|Action|       1936|   1|
|       Gentleman Jim|           85|Action|       1942|   1|
|   Sign of the Pagan|           33|Action|       1954|   1|
|Riot in Cell Bloc...|           77|Action|       1954|   2|
|           Moonfleet|           71|Action|       1955|   1|
|       Seven Samurai|           97|Action|       1956|   1|
|The Pride and the...|           25|Action|       1957|   1|
|       A Man Escaped|           93|Action|       1957|   2|
|  The Horse Soldiers|           75|Action|       1959|   1|
|From Russia With ...|           84|Action|       1963|   1|
|          Goldfinger|           89|Action|       1964|   1|
|         Thunderball|           73|Action|       1965|   1|
|     The Wild Angels|           46|Action|       1966|   1|
|              Batman|           62|Action|       1966|   2|
|  Come Drink With Me|           74|Action|       1966|   3|
|              Fathom|           42|Action|       1967|   1|
| You Only Live Twice|           68|Action|       1967|   2|
|Faster, Pussycat!...|           78|Action|       1967|   3|
|She-Devils on Wheels|           42|Action|       1968|   1|
|On Her Majesty's ...|           64|Action|       1969|   1|
|        Monster Zero|           63|Action|       1970|   1|
|Diamonds Are Forever|           57|Action|       1971|   1|
|             Le Mans|           79|Action|       1971|   2|
|     Vanishing Point|           81|Action|       1971|   3|
|     The Outside Man|           79|Action|       1972|   1|
|             Scorpio|           41|Action|       1973|   1|
|        Gordon's War|           47|Action|       1973|   2|
|    Live and Let Die|           64|Action|       1973|   3|
|The Man With the ...|           55|Action|       1974|   1|
|  Gone in 60 Seconds|           66|Action|       1974|   2|
|Freebie and the Bean|           66|Action|       1974|   2|
|        Truck Turner|           72|Action|       1974|   3|
|         Sheba, Baby|           29|Action|       1975|   1|
|    The Killer Elite|           33|Action|       1975|   2|
|            Breakout|           43|Action|       1975|   3|
|    White Line Fever|           55|Action|       1975|   4|
|French Connection II|           62|Action|       1975|   5|
|Master of the Fly...|           87|Action|       1975|   6|
|Assault on Precin...|           80|Action|       1976|   1|
|       Viva Knievel!|           12|Action|       1977|   1|
|The Spy Who Loved Me|           76|Action|       1977|   2|
|Good Guys Wear Black|           37|Action|       1978|   1|
|              Hooper|           60|Action|       1978|   2|
|           Moonraker|           43|Action|       1979|   1|
|        The Warriors|           88|Action|       1979|   2|
|         The Octagon|           31|Action|       1980|   1|
|    The Exterminator|           39|Action|       1980|   2|
|  For Your Eyes Only|           64|Action|       1981|   1|
|             Victory|           71|Action|       1981|   2|
|         Silent Rage|           40|Action|       1982|   1|
|           Octopussy|           47|Action|       1983|   1|
|   Lone Wolf McQuade|           67|Action|       1983|   2|
|             Gymkata|           40|Action|       1985|   1|
|    A View to a Kill|           40|Action|       1985|   1|
|Remo Williams: Th...|           59|Action|       1985|   2|
|            Commando|           67|Action|       1985|   3|
|     The Last Dragon|           86|Action|       1985|   4|
|            Raw Deal|           29|Action|       1986|   1|
|          Iron Eagle|           56|Action|       1986|   2|
|          The Wraith|           61|Action|       1986|   3|
|       Runaway Train|           76|Action|       1986|   4|
|              Malone|           35|Action|       1987|   1|
|          Wild Thing|           56|Action|       1987|   2|
|      Prison on Fire|           87|Action|       1987|   3|
|            Red Heat|           37|Action|       1988|   1|
|       Above the Law|           48|Action|       1988|   2|
|              Bat 21|           58|Action|       1988|   3|
|     No Holds Barred|           34|Action|       1989|   1|
|     Licence to Kill|           61|Action|       1989|   2|
|           Kickboxer|           65|Action|       1989|   3|
|   Gleaming the Cube|           68|Action|       1989|   4|
|     Days of Thunder|           60|Action|       1990|   1|
|          The Hitman|           44|Action|       1991|   1|
|Showdown in Littl...|           51|Action|       1991|   2|
|Harley Davidson a...|           65|Action|       1991|   3|
|         Under Siege|           62|Action|       1992|   1|
|            Supercop|           74|Action|       1992|   2|
|Once Upon a Time ...|           88|Action|       1992|   3|
|         Hard-Boiled|           92|Action|       1992|   4|
|       Boiling Point|           22|Action|       1993|   1|
|           Sidekicks|           48|Action|       1993|   2|
|         City Hunter|           61|Action|       1993|   3|
|         El Mariachi|           76|Action|       1993|   4|
|        Falling Down|           84|Action|       1993|   5|
|        Fong Sai-Yuk|           84|Action|       1993|   5|
|         The Getaway|           28|Action|       1994|   1|
|  Surviving the Game|           47|Action|       1994|   2|
|      The River Wild|           51|Action|       1994|   3|
|      Love and a .45|           70|Action|       1994|   4|
|  The Tai Chi Master|           84|Action|       1994|   5|
|From Beijing With...|           87|Action|       1994|   6|
|      Fist of Legend|           92|Action|       1994|   7|
|           Fair Game|           14|Action|       1995|   1|
|           Assassins|           45|Action|       1995|   2|
|        Naked Killer|           48|Action|       1995|   3|
|          The Hunted|           53|Action|       1995|   4|
|           Desperado|           79|Action|       1995|   5|
|           GoldenEye|           83|Action|       1995|   6|
|                Solo|           26|Action|       1996|   1|
|      Chain Reaction|           27|Action|       1996|   2|
+--------------------+-------------+------+-----------+----+
only showing top 100 rows

In [15]:
movie_df.groupby("age_class").agg(
    avg("audienceScore").alias("avg_audience_score")
).write.format("bigquery").option(
    "table", "de-23-lab-1-399021.assignment2dataset.ageperformance"
).mode(
    "overwrite"
).save()

movie_df.groupby("age_class").agg(
    avg("audienceScore").alias("avg_audience_score")
).show()

+---------+------------------+
|age_class|avg_audience_score|
+---------+------------------+
|     TV14|              30.0|
|       PG| 64.90593047034764|
|     TVPG|              81.0|
|    NC-17|56.642857142857146|
|     TVY7|              68.0|
|        R|57.960393772893774|
|        G|  65.6764733092793|
|    PG-13| 61.66748366013072|
|     TVMA|              63.5|
+---------+------------------+

In [16]:
spark.stop()